@serif: 'Vesper Libre', serif;
@sans-serif: 'Raleway', sans-serif;
@cursive: 'Great Vibes', cursive;

@white: #ffffff;
@black: #1C1C1C;
@charcoal: #424242;
@dkgrey: #848484;
@mdgrey:#BDBDBD;
@ltgrey: #D8D8D8;
@ltrgrey: #E6E6E6;
@vltgrey: #fafafa;
@teal: #04B486;


h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

// ELEMENTS

* {
  outline: 1px dotted red;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: @white;
}

.container {
  width: 85%;
  margin: 0 auto;
//  border-radius: 25px 25px 0px 0px;
//  -moz-border-radius: 25px 25px 0px 0px;
//  -webkit-border-radius: 25px 25px 0px 0px;
  background-color: @white;
  border-bottom-left-radius: 2em;
//  -webkit-box-shadow: -1px 0px 4px -1px rgba(66,66,66,1);
//  -moz-box-shadow: -1px 0px 4px -1px rgba(66,66,66,1);
//  box-shadow: -1px 0px 4px -1px rgba(66,66,66,1);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;	
  li {
    display: inline;
    a {
      text-decoration: none;
      padding: 0 3%;
    }
  }
}



// CLASSES
.teal-button {
  background-color: @teal;
  border: none;
  color: @white;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  font-family: @sans-serif;
  margin: 5% auto;
  cursor: pointer;
  text-transform: uppercase;
}

.bottom-clip {
  webkit-clip-path: polygon(0% 0%, 100% 0, 100% 87%, 50% 100%, 1% 87%);
  clip-path: polygon(0% 0%, 100% 0, 100% 87%, 50% 100%, 1% 87%);
}



// HEADER
header { 
  position: relative;
 //border-radius: 25px 25px 0px 0px;
 //-moz-border-radius: 25px 25px 0px 0px;
 //-webkit-border-radius: 25px 25px 0px 0px;
  img {
    width: 100%; 
    height: auto;
  }  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: @black;
    opacity: 0.8;
    height: 10%;
    width: 100%;

    ul {
      font-family: @sans-serif;
      font-size: 0.8em;
      height: 5%;
      width: 100%;
      list-style-type: none;
      li {
        display: inline-block;
        padding: 0 2.5%;
        a {
          display: block;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          opacity: 1;
        }
      }
    }
  }
  .header-text {
    position: absolute;
    top: 28%;
    left: 37%;
    color: @white;
    text-align: center;
    h2 {
      font-family: @cursive;
      font-size: 1.5em;
      font-weight: 300;
      margin: 0 auto -3%;
    }
    h1 {
      font-family: @serif;
      font-size: 2.5em;
      font-weight: 400;
      margin: 0 auto;
      text-transform: uppercase;
      i {
        font-size: .8em;
      }
    }
    h3 {
      font-family: @sans-serif;
      font-size: 1.15em;
      margin: -5% auto 5%;
      text-transform: uppercase;
    }
    p {
      font-family: @serif;
      font-size: 0.6em;
      font-weight: 200;
      margin: -5% auto 8%;
      text-transform: uppercase;
    }
    .button {
      .teal-button;
    }
  }  
}



// OUR STORY 
.storyline {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  //.col1 {
  //	..
  //}
  //.col2 {
  //	...
  //}
  //.col3 {
  //	...
  //}
}





// END OUR STORY




// PEOPLE

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { 
  margin-left: 0; 
}

/*  GROUPING  */
.group:before,
.group:after { 
  content:""; 
  display:table; 
}
.group:after { 
  clear:both;
}
.group { 
  zoom:1; /* For IE 6/7 */ 
}


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

// END PEOPLE



// GIFT REGISTRY
#gift-registry {
  font-family: @sans-serif;
  ul {
    li {
      a {
      	padding: 0;
      	img {
	    //.store-logo {
	      width: 20%;
	      height: auto;
	      padding: 0 5%;
	    //}
	  }
      }
    }
  }
}


// GOOGLE MAP - LOCATION
#google-map {
 margin: 0 auto;	
}



// FOOTER
footer {
  background-color: @black;
  color: @white;
  font-family: @sans-serif;
  text-align: center;
  padding: 5% 0;
  //letter-spacing: 0.3em;
  h3 {
    font-size: 1em;
      i {
       color: @teal;
    }
  }
  ul {
    li {
      a {
      	 i {
      	   color: @black;
      	   padding:; 2%;
      	   background-color: @white;
      	   border-radius: 50%;
      	 }
      }
    }
  }
  p {
    font-size: .6em;
  }
}
