.section-icon {
  color: white;
  background-color: #D8D8D8;
  padding: 2%;
  border-radius: 50%;
}
.more {
  text-decoration: none;
  color: #ffffff;
  background-color: #BDBDBD;
  font-size: .7em;
  letter-spacing: .4em;
  padding: 4%;
  margin-top: 4%;
  border-radius: 2.5px;
  text-transform: uppercase;
}
.badge2 {
  width: 12%;
  display: block;
  margin: -10vh auto 8vh auto;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}
.container {
  width: 75%;
  margin: 0 auto;
  background-color: #ffffff;
}
#parents,
#dates,
#our-story,
#people,
#blog,
#gallery,
#gift-registry {
  padding: 0 5%;
}
#parents,
#dates,
#our-story,
#people,
#blog,
#countdown-container,
#gallery,
#gift-registry,
#rsvp {
  margin-bottom: 8%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}
p {
  line-height: 1.5em;
  font-size: 1em;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
ul li {
  display: inline;
}
ul li a {
  text-decoration: none;
  padding: 5% 0;
}
.teal-button {
  background-color: #04B486;
  border: none;
  border-radius: 2.5px;
  color: #ffffff;
  padding: 2% 5%;
  text-align: center;
  letter-spacing: .2em;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 5% auto;
  cursor: pointer;
  text-transform: uppercase;
}
.circle-image {
  max-width: 80%;
  margin: 5% 0;
}
header {
  position: relative;
  margin-bottom: 5%;
}
header img {
  width: 100%;
  height: auto;
}
header nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1C1C1C;
  opacity: 0.8;
  height: 10%;
  width: 100%;
  padding-top: 4%;
}
header nav ul {
  font-size: 1em;
  height: 5%;
  width: 100%;
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 2.5%;
}
header nav ul li .logo img {
  width: 5%;
}
header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 1;
}
header .header-text {
  position: absolute;
  top: 33%;
  left: 40%;
  color: #ffffff;
  text-align: center;
}
header .header-text h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 auto -3%;
  text-transform: none;
}
header .header-text h1 {
  font-family: 'Vesper Libre', serif;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0 auto;
  text-transform: uppercase;
}
header .header-text h1 i {
  font-size: .8em;
}
header .header-text h3 {
  font-size: 1.15em;
  margin: -5% auto 5%;
  text-transform: uppercase;
}
header .header-text p {
  font-weight: 200;
  margin: -5% auto 8%;
  text-transform: uppercase;
}
header .header-text .button {
  background-color: #04B486;
  border: none;
  border-radius: 2.5px;
  color: #ffffff;
  padding: 2% 5%;
  text-align: center;
  letter-spacing: .2em;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 5% auto;
  cursor: pointer;
  text-transform: uppercase;
}
#parents {
  text-align: center;
}
#parents h4 {
  font-size: 1em;
  margin: 1% 0;
}
#parents h3 {
  font-family: 'Vesper Libre', serif;
  font-size: 1.5em;
  margin: 1% 0;
}
#parents .invitation {
  font-size: 1.75em;
  padding: 0 5%;
}
#parents p {
  margin-bottom: 5%;
}
#parents ul li a i {
  color: #848484;
}
#badge1 .badge1 {
  width: 12%;
  display: block;
  margin: -8vh auto;
}
#dates h4 {
  font-size: 1em;
}
#dates .important-dates {
  font-size: 1em;
}
#dates .important-dates li {
  display: block;
  padding: 1% 0;
  text-align: center;
}
#countdown-container {
  color: #ffffff;
  background-image: url(../images/flag2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15% 0;
  text-align: center;
}
#countdown-container #countdown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
#countdown-container #countdown .count {
  width: 12%;
}
#countdown-container #countdown .count .number {
  color: #848484;
  background-color: #ffffff;
  font-size: 3.5em;
  padding: 5%;
}
#countdown-container #countdown .count p {
  text-transform: uppercase;
  font-weight: bold;
}
#our-story h4 {
  font-weight: 300;
}
#our-story .storyline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#people {
  color: #ffffff;
  background-image: url(../images/flag3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
}
#people .icon-p {
  margin: 0 auto;
  text-align: center;
}
#people .icon-p i {
  color: white;
  background-color: #D8D8D8;
  padding: 2%;
  border-radius: 50%;
}
#people .person {
  padding: 1em;
  background-color: #1C1C1C;
  opacity: 0.6;
  width: 80%;
  margin: 5%;
}
#people .person img {
  width: 25%;
  float: left;
  margin: 5% 5% 0 0;
}
#people .person .person-text .quote {
  font-size: .8em;
  line-height: 1.5em;
}
#people .person .person-text .name {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
#people .person .person-text .relationship {
  font-size: .6em;
  font-weight: bold;
  margin-top: 0;
}
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}
/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}
/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
@media only screen and (max-width: 480px) {
  .span_2_of_2,
  .span_1_of_2 {
    width: 100%;
  }
}
#blog .icon-p {
  margin: 0 auto;
  text-align: center;
}
#blog .icon-p i {
  color: white;
  background-color: #D8D8D8;
  padding: 2%;
  border-radius: 50%;
}
#blog .blog-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}
#blog .blog-entries .entry {
  text-align: left;
  width: 30%;
  margin: 0 auto;
}
#blog .blog-entries .entry img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#blog .blog-entries .entry h4 {
  color: #BDBDBD;
  font-size: .8em;
  margin: 0 auto;
}
#blog .blog-entries .entry .entry a {
  text-decoration: none;
  color: #ffffff;
  background-color: #BDBDBD;
  font-size: .7em;
  letter-spacing: .4em;
  padding: 4%;
  margin-top: 4%;
  border-radius: 2.5px;
  text-transform: uppercase;
}
#rsvp {
  background-image: url(../images/flag1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8% 0;
}
#rsvp h2 {
  color: white;
}
#rsvp form {
  background-color: #ffffff;
  margin: 5% auto;
  padding: 5%;
  width: 60%;
}
#rsvp form div {
  padding-bottom: 2%;
}
#rsvp form div label {
  text-transform: uppercase;
  color: #848484;
  font-size: .8em;
}
#rsvp form div input {
  color: #848484;
  background-color: #f2f2f2;
  border-radius: 3px;
  width: 100%;
  height: 1.75em%;
}
#rsvp form div button {
  background-color: #04B486;
  border: none;
  border-radius: 2.5px;
  color: #ffffff;
  padding: 2% 5%;
  text-align: center;
  letter-spacing: .2em;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 5% auto;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
}
#gallery .icon-p {
  margin: 0 auto;
  text-align: center;
}
#gallery .icon-p i {
  color: white;
  background-color: #D8D8D8;
  padding: 2%;
  border-radius: 50%;
}
#gallery .photos {
  columns: 2;
}
#gallery .photos ul {
  width: 100%;
}
#gallery .photos ul li img {
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}
#gift-registry .icon-p {
  margin: 0 auto;
  text-align: center;
}
#gift-registry .icon-p i {
  color: white;
  background-color: #D8D8D8;
  padding: 2%;
  border-radius: 50%;
}
#gift-registry ul li a {
  padding: 0;
}
#gift-registry ul li a img {
  width: 20%;
  height: auto;
  padding: 0 5%;
}
#church img {
  max-width: 100%;
  margin-bottom: -2%;
}
footer {
  background-color: #1C1C1C;
  color: #ffffff;
  text-align: center;
  padding: 5% 0;
}
footer h3 {
  font-size: 1em;
  margin-bottom: 3%;
}
footer h3 i {
  color: #04B486;
}
footer ul li a i {
  color: #1C1C1C;
  padding: 2%;
  background-color: #ffffff;
  border-radius: 50%;
}
footer ul li a i .more-padding {
  padding: 2% 2.5%;
}
footer p {
  font-size: .6em;
  margin-top: 3%;
}
