@serif: 'Vesper Libre', serif;
@sans-serif: 'Raleway', sans-serif;
@cursive: 'Great Vibes', cursive;

@white: #ffffff;
@black: #1C1C1C;
@charcoal: #424242;
@dkgrey: #848484;
@mdgrey:#BDBDBD;
@ltgrey: #D8D8D8;
@ltrgrey: #E6E6E6;
@vltgrey: #F2F2F2;
@teal: #04B486;



// HEADER

nav {
  background-color: @charcoal;
  opacity: 0.5;
  height: 5%;
  width: 100%;
  ul {
    font-size: 1em; // tutorial says "0"
    padding: 0;
    height: 5%;
    width: 100%;
//    opacity: 1;
    li {
      display: inline-block;
      a {
        display: block;
        color: white;
        text-decoration: none;
        opacity: 1;
//        background-color: white;
//        font-size: 12px;
//        padding 30px;
      }
    }
  }
}












// PEOPLE

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { 
  margin-left: 0; 
}

/*  GROUPING  */
.group:before,
.group:after { 
  content:""; 
  display:table; 
}
.group:after { 
  clear:both;
}
.group { 
  zoom:1; /* For IE 6/7 */ 
}


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

// END PEOPLE