@serif: 'Vesper Libre', serif;
@sans-serif: 'Raleway', sans-serif;
@cursive: 'Great Vibes', cursive;

@white: #ffffff;
@black: #1C1C1C;
@charcoal: #424242;
@dkgrey: #848484;
@mdgrey:#BDBDBD;
@ltgrey: #D8D8D8;
@ltrgrey: #E6E6E6;
@vltgrey: #F2F2F2;
@teal: #04B486;



// ELEMENTS

html, body {
  padding: 0;
  margin: 0;
}

.container {
  width: 85%;
  margin: 3% auto;
  border-radius: 25px;
}

.button {
  background-color: @teal;
  border: none;
  color: @white;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
  margin: 5% auto;
  cursor: pointer;
}





// HEADER
header { 
  position: relative;
  img {
    width: 100%; 
    height: auto;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: @black;
    opacity: 0.8;
    height: 10%;
    width: 100%;

    ul {
      font-size: 1em;
      padding: 0;
      height: 5%;
      width: 100%;
      li {
        display: inline-block;
        a {
          display: block;
          color: white;
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }
  
}













// PEOPLE

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { 
  margin-left: 0; 
}

/*  GROUPING  */
.group:before,
.group:after { 
  content:""; 
  display:table; 
}
.group:after { 
  clear:both;
}
.group { 
  zoom:1; /* For IE 6/7 */ 
}


/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

// END PEOPLE